body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
//section{
//  background-image: url("http://kb4images.com/images/graphic-wallpaper/36871987-graphic-wallpaper.jpg");
//  background-size: cover;
//  height: 100vh;
//  width: 100vw;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.form{
//  height: 24em;
//  width: 28.2em;
//  background-color: inherit;
//  border-radius: 20px;
//  -webkit-box-shadow: 3px 4px 33px 7px rgba(0,0,0,0.84);
//  box-shadow: 3px 4px 33px 7px rgba(0,0,0,0.84);
//  position: relative;
//}
//form{
//  display: flex;
//  flex-direction: column;
//  opacity: 0.9;
//  max-height: 250px;
//}
//.animateUp{
//  -webkit-animation-duration: 1s;
//  animation-duration: 1s;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both;
//}
//@-webkit-keyframes fadeOutUp {
//  0%{
//    opacity: 1;
//    -webkit-transform: translateY(0);
//  }
//  100%{
//    opacity: 0;
//    -webkit-transform: translateY(-600px);
//  }
//}
//@keyframes fadeOutUp {
//  0%{
//    opacity: 1;
//    -webkit-transform: translateY(0);
//  }
//  100%{
//    opacity: 0;
//    -webkit-transform: translateY(-600px);
//  }
//}
//.fadeOutUp{
//  -webkit-animation-name: fadeOutUp;
//  animation-name: fadeOutUp;
//}
//.animateIn{
//  -webkit-animation-duration: 2s;
//  animation-duration: 2s;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both;
//  animation-delay: 0.5s;
//}
//@-webkit-keyframes fadeInDown {
//  0% {
//    opacity: 0;
//    -webkit-transform: translateY(-600px);
//  }
//  100% {
//    opacity: 1;
//    -webkit-transform: translateY(0);
//  }
//}
//@keyframes fadeInDown {
//  0% {
//    opacity: 0;
//    transform: translateY(-600px);
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}
//.fadeInDown{
//  -webkit-animation-name: fadeInDown;
//  animation-name: fadeInDown;
//}
//.head_form{
//  width: 100%;
//  height: 70px;
//  border-radius: 20px 20px 0 0;
//  background-color: rgba(200, 200, 200, 0.6);
//  margin-bottom: 11px;
//}
//.head_icon{
//  background-image: url("../img/chewbacca-icon.jpeg");
//  height: 110px;
//  width: 110px;
//  z-index: 2;
//  background-size: contain;
//  position: absolute;
//  border: 2px solid rgba(200, 200, 200, 0.6);
//  border-radius: 50%;
//  top: -25px;
//  left: 20px;
//}
//input{
//  width: 100%;
//  height: 37px;
//  font-size: 15px;
//  align-self: center;
//  border-radius: 6px;
//  border: none;
//}
//
//input[type="checkbox"]{
//  margin-top: 26px;
//  position: relative;
//  left: -39%;
//  height: 23px;
//  width: 23px;
//}
//.inputs{
//  margin-left: 35px;
//  margin-top: 20px;
//  margin-bottom: -7px;
//  font-size: 15px;
//  align-self: flex-start;
//}
//.inputs_container{
//  align-self: center;
//  width: 85%;
//  border-radius: 6px;
//  margin-top: 3px;
//  position: relative;
//  margin-bottom: 5px;
//}
//.triangle{
//  position: absolute;
//  width: 0;
//  height: 0;
//  border-left: 25px solid transparent;
//  border-right: 25px solid darkviolet;
//  border-bottom: 25px solid transparent;
//  top: 0;
//  right: 0;
//}
//.triangle_box{
//  position: absolute;
//  height: 25px;
//  width: 25px;
//  right: 0;
//  top: 0;
//  overflow: hidden;
//  border-radius: 0 6px 0 0;
//}
//.triangle::after{
//  content: '*';
//  position: absolute;
//  right: -20px;
//  z-index: 2;
//  color: white;
//}
//span{
//  position: relative;
//  left: 70px;
//  top: -20px;
//  font-size: 15px;
//}
//.footer_form{
//  width: 100%;
//  height: 70px;
//  border-radius: 0 0 20px 20px;
//  background-color: rgba(490, 200, 10, 0.6);
//  display: flex;
//  position: absolute;
//  bottom: 0;
//  justify-content: center;
//  align-items: center;
//}
//#footer_container{
//  width: 85%;
//  display: flex;
//  flex-direction: column;
//}
//input[type="submit"]{
//  width: 80px;
//  font-size: 15px;
//  align-self: flex-end;
//  position: absolute;
//  bottom: 25%;
//}
//input[type="submit"]:hover{
//  background-color: darkviolet;
//}
//.forgotten_pass{
//  color: darkviolet;
//  font-size: 14px;
//  position: absolute;
//  right: 30%;
//  bottom: 40%;
//}
//.forgotten_pass:hover{
//  cursor: pointer;
//  text-decoration: underline;
//}
//.required{
//  height: 23px;
//  width: 68px;
//  background-color: darkviolet;
//  align-self: flex-end;
//  margin-right: 15px;
//  margin-bottom: 8px;
//  margin-top: -20px;
//  text-align: center;
//  border-radius: 8px;
//}
//.required::before{
//  content: '';
//  position: absolute;
//  border-style: solid;
//  border-color: darkviolet transparent transparent transparent;
//  border-width: 8px;
//  margin-top: 23px;
//  margin-left: 20px;
//}
//.error{
//  color: red;
//  position: absolute;
//  right: 0;
//}
//@media only screen and (min-width: 200px) and (max-width: 450px){
//  .form{
//    height: 400px;
//    width: 92vw;
//  }
//  input[type="submit"] {
//    width: 60px;
//    font-size: 11px;
//  }
//  .required{
//    width: 60px;
//    margin-left: -10px;
//    font-size: 11px;
//  }
//}
//
//
//
//.reset_form{
//  height: 330px;
//  width: 450px;
//  background-color: inherit;
//  border-radius: 20px;
//  -webkit-box-shadow: 3px 4px 33px 7px rgba(0,0,0,0.84);
//  box-shadow: 3px 4px 33px 7px rgba(0,0,0,0.84);
//  position: relative;
//}
//.header{
//  text-transform: uppercase;
//  position: absolute;
//  top: 0;
//  right: 0;
//  margin-top: 20px;
//  margin-right: 45px;
//  font-size: 25px;
//  color: whitesmoke;
//  text-shadow: 3px 3px 3px rgba(146, 150, 150, 1);
//}
//.instruction{
//  width: 85%;
//  margin-left: 35px;
//  margin-top: 25px;
//  font-size: 16px;
//}
//.reset_inputs_container{
//  margin-left: 35px;
//  margin-top: 15px;
//  width: 85%;
//  position: relative;
//}
//#reset_required{
//  height: 23px;
//  width: 68px;
//  background-color: darkviolet;
//  text-align: center;
//  border-radius: 8px;
//  position: absolute;
//  right: 10px;
//  bottom: 145px;
//}
//#reset_required::before{
//  content: '';
//  position: absolute;
//  border-style: solid;
//  border-color: darkviolet transparent transparent transparent;
//  border-width: 8px;
//  margin-top: 23px;
//  margin-left: 20px;
//}
//#reset_button{
//  height: 35px;
//  width: 143px;
//  position: absolute;
//  right: 7%;
//  text-transform: uppercase;
//  border-radius: 6px;
//  border: 1px solid rgba(0, 0, 0, 0.5);
//  background-color: white;
//}
//#cancel_button{
//  height: 35px;
//  width: 72px;
//  position: absolute;
//  left: 7%;
//  text-transform: uppercase;
//  border-radius: 6px;
//  border: 1px solid red;
//  background-color: white;
//  color: red;
//}
//.stage1{
//  display: none;
//}
//.stage2{
//  position: absolute;
//  top: 30%;
//  -webkit-animation-duration: 1s;
//  animation-duration: 1s;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both;
//  animation-delay: 0.5s;
//}
//@-webkit-keyframes fadeIn {
//  0% {opacity: 0}
//  100% {opacity: 1}
//}
//@keyframes fadeIn {
//  0% {opacity: 0}
//  100% {opacity: 1}
//}
//.fadeIn{
//  -webkit-animation-name: fadeIn;
//  animation-name: fadeIn;
//}
//.stage3{
//  position: absolute;
//  top: 30%;
//  -webkit-animation-duration: 1s;
//  animation-duration: 1s;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both;
//}
//@-webkit-keyframes fadeOut {
//  0% {opacity: 1}
//  100% {opacity: 0}
//}
//@keyframes fadeOut {
//  0% {opacity: 1}
//  100% {opacity: 0}
//}
//.fadeOut{
//  -webkit-animation-name: fadeOut;
//  animation-name: fadeOut;
//}
//@media only screen and (max-width: 349px){
//  .header{
//    font-size: 15px;
//    right: -5%;
//  }
//  .reset_form{
//    width: 95vw;
//  }
//  .instruction{
//    font-size: 13px;
//  }
//  #reset_required{
//    font-size: 13px;
//  }
//}
//@media only screen and (min-width: 350px) and (max-width: 450px) {
//  .header{
//    font-size: 16px;
//    right: -5%;
//  }
//  .reset_form{
//    width: 95vw;
//  }
//  .instruction{
//    font-size: 14px;
//  }
//  #reset_required{
//    bottom: 155px;
//  }
//}