.body{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/822784-grass-wallpaper.jpg");
    background-size: cover;
}
.form{
    border: 1px solid darkolivegreen;
    border-radius: 20px;
    width: 500px;
    min-height: 400px;
    background-image: inherit;
    transform: translate(60%, 30%);
    -webkit-box-shadow: -29px 31px 41px 3px rgba(0,0,0,0.74);
    -moz-box-shadow: -29px 31px 41px 3px rgba(0,0,0,0.74);
    box-shadow: -29px 31px 41px 3px rgba(0,0,0,0.74);
}

#head{
    font-size: 45px;
    color: yellowgreen;
    margin-left: 18%;
    margin-top: 20px;
    margin-bottom: 30px;
}
form input{
    display: block;
    width: 370px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 13%;
    border-radius: 10px;
    background: rgba(235,235,235,1);
    background: -moz-linear-gradient(-45deg, rgba(235,235,235,1) 38%, rgba(209,209,209,1) 57%, rgba(217,217,217,1) 66%, rgba(224,224,224,1) 73%, rgba(222,222,222,1) 77%, rgba(217,217,217,1) 79%, rgba(217,217,217,1) 92%);
    background: -webkit-gradient(left top, right bottom, color-stop(38%, rgba(235,235,235,1)), color-stop(57%, rgba(209,209,209,1)), color-stop(66%, rgba(217,217,217,1)), color-stop(73%, rgba(224,224,224,1)), color-stop(77%, rgba(222,222,222,1)), color-stop(79%, rgba(217,217,217,1)), color-stop(92%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(235,235,235,1) 38%, rgba(209,209,209,1) 57%, rgba(217,217,217,1) 66%, rgba(224,224,224,1) 73%, rgba(222,222,222,1) 77%, rgba(217,217,217,1) 79%, rgba(217,217,217,1) 92%);
    background: -o-linear-gradient(-45deg, rgba(235,235,235,1) 38%, rgba(209,209,209,1) 57%, rgba(217,217,217,1) 66%, rgba(224,224,224,1) 73%, rgba(222,222,222,1) 77%, rgba(217,217,217,1) 79%, rgba(217,217,217,1) 92%);
    background: -ms-linear-gradient(-45deg, rgba(235,235,235,1) 38%, rgba(209,209,209,1) 57%, rgba(217,217,217,1) 66%, rgba(224,224,224,1) 73%, rgba(222,222,222,1) 77%, rgba(217,217,217,1) 79%, rgba(217,217,217,1) 92%);
    background: linear-gradient(135deg, rgba(235,235,235,1) 38%, rgba(209,209,209,1) 57%, rgba(217,217,217,1) 66%, rgba(224,224,224,1) 73%, rgba(222,222,222,1) 77%, rgba(217,217,217,1) 79%, rgba(217,217,217,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d9d9d9', GradientType=1 );
}
#submit{
    width: 150px;
    display: inline-block!important;
    position: relative;
    margin-bottom: 35px;
}
#checkbox{
    width: 30px;
    display: inline-block!important;
    position: absolute;
    right: 220px;
}
form span{
    margin-left: 80px;
    font-size: 18px;
    color: yellowgreen;
}
form p{
    margin-left: 13%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}